<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="68441442153-p80kupsvtf8lvcmvmumc7u46l36dcpin.apps.googleusercontent.com">
    <title>Binghamton Massage and Wellness</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href='/txt_files/binghamtonmassage.1.0.11.css' rel='stylesheet'>
    <script src='/txt_files/jquery-3.5.1.min.js'></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
</head>